/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.contato {
  position: absolute;
  top: 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px 80px;
  width: 100%;
}

.contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px;
  width: 50%;
}

.contato-infos {
  height: 40%;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
}

.contato-infos-tt {
  font-size: 24px;
  font-weight: bold;
}

.contato-infos-subtt {
  font-size: 18px;
  font-weight: bold;
}

.contato-infos-linha {
  margin-top: 20px;
}

.contato-social {
  height: 40%;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
}

.contato-social-tt {
  font-size: 24px;
  font-weight: bold;
}

.contato-social-lista {
  margin-top: 20px;
}

.contato-social-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.contato-social-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.contato-social-link:hover {
  background: none;
}

.contato-social-facebook {
  background-image: url(../img/contato-facebook.png);
}

.contato-social-instagram {
  background-image: url(../img/contato-insta.png);
}

.contato-social-linkedin {
  background-image: url(../img/contato-linkedin.png);
}

.contato-social-twitter {
  background-image: url(../img/contato-twitter.png);
}

.contato-localizacao {
  height: 60%;
  margin-top: 25px;
  width: 100%;
}

.contato-localizacao-tt {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.contato-localizacao-mapa {
  background: url(../img/localidade.jpg) no-repeat center/cover;
  height: 90%;
  margin-top: 20px;
  width: 100%;
}

.contato-formulario {
  height: 100%;
  padding: 20px;
  width: 50%;
}

.contato-formulario-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.contato-formulario-campo {
  font-family: "Lato", sans-serif;
  text-align: center;
  max-width: 99.5%;
  width: 99.3%;
}

.contato-formulario-campo:not(:first-of-type) {
  margin-top: 10px;
}

.contato-formulario-nome, .contato-formulario-email, .contato-formulario-assunto {
  height: 3%;
}

.contato-formulario-texto {
  height: 30%;
  max-height: 80%;
  margin-top: 10px;
}

.contato-formulario-btn {
  background-color: #00C851;
  border: 1px solid #007E33;
  color: white;
  margin-top: 7px;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}

.contato-formulario-btn:hover {
  background-color: #007E33;
}
