/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

body {
  background-color: red;
  height: 3000px;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
}
