/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.home {
  background-color: green;
  height: 980px;
  width: 100%;
}

@-webkit-keyframes pulsar {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

@keyframes pulsar {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.btn-servicos {
  background: url(../img/setinha.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: pulsar 5s infinite;
          animation: pulsar 5s infinite;
}
