@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.home-menu, .servicos-container-plano, .quemsomos-social, .contato, .contato-sacola, .contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-sacola, .home-meio, .quemsomos, .quemsomos-sacola, .quemsomos-container, .contato-formulario-container, .trabalheconosco-sacola, .trabalheconosco-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.home {
  background-color: rgba(9, 0, 255, 0.6);
  padding: 20px 20px 80px 20px;
  height: 100%;
  width: 100%;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.home-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-align: center;
}

.home-menu-item {
  display: inline-block;
  list-style: none;
}

.home-menu-link {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

.home-meio {
  color: black;
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
  width: 100%;
  text-align: center;
}

.home-meio-nome {
  font-size: 28px;
  margin-top: 50px;
}

.home-meio-frase {
  font-size: 24px;
  margin-top: 10px;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.home-menu, .servicos-container-plano, .quemsomos-social, .contato, .contato-sacola, .contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-sacola, .home-meio, .quemsomos, .quemsomos-sacola, .quemsomos-container, .contato-formulario-container, .trabalheconosco-sacola, .trabalheconosco-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.servicos {
  position: absolute;
  top: 100%;
  background-color: rgba(0, 94, 255, 0.6);
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 80px 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.servicos-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
}

.servicos-titulo {
  font-size: 30px;
}

.servicos-container-plano {
  width: 100%;
}

.servicos-plano {
  width: 300px;
  height: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, transform 1s;
  transition: background-color 1s, transform 1s, -webkit-transform 1s;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.servicos-plano:not(:last-of-type) {
  margin-right: 40px;
}

.servicos-plano:hover {
  background-color: rgba(0, 94, 255, 0.7);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.servicos-listas {
  margin-top: 30px;
}

.servicos-item {
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 18px;
}

.servicos-basico-item:nth-of-type(1n+4) {
  background-image: url("../img/uncheck.png");
  color: #dedede;
}

.servicos-premium-item:nth-of-type(1n+6) {
  background-image: url("../img/uncheck.png");
  color: #dedede;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.home-menu, .servicos-container-plano, .quemsomos-social, .contato, .contato-sacola, .contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-sacola, .home-meio, .quemsomos, .quemsomos-sacola, .quemsomos-container, .contato-formulario-container, .trabalheconosco-sacola, .trabalheconosco-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.quemsomos {
  padding: 80px 20px;
  position: absolute;
  top: 200%;
  background-color: rgba(0, 120, 255, 0.6);
  color: black;
  height: 100%;
  width: 100%;
  text-align: center;
}

.quemsomos-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
}

.quemsomos-container {
  width: 100%;
  height: 100%;
}

.quemsomos-lista {
  margin-top: 40px;
  padding: 20px;
  width: 1000px;
}

.quemsomos-item {
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
}

.quemsomos-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quemsomos-alexis {
  background-image: url("../img/alexis.jpg");
}

.quemsomos-lucas {
  background-image: url("../img/lucas.jpg");
}

.quemsomos-vinicius {
  background-image: url("../img/vinicius.jpg");
}

.quemsomos-igor {
  background-image: url("../img/igor.jpg");
}

.quemsomos-caciano {
  background-image: url("../img/caciano.jpg");
}

.quemsomos-informacoes {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 20px;
}

.quemsomos-informacoes-titulo {
  color: black;
  text-align: center;
  font-size: 30px;
}

.quemsomos-informacoes-texto {
  color: black;
  padding: 20px;
  text-align: center;
}

.quemsomos-social {
  width: 100%;
}

.quemsomos-social-item {
  background: no-repeat;
  display: inline-block;
  height: 50px;
  list-style: none;
  width: 50px;
}

.quemsomos-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.quemsomos-facebook {
  background-image: url(../img/facebook.png);
  margin-right: 20px;
}

.quemsomos-github {
  background-image: url(../img/github.png);
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.home-menu, .servicos-container-plano, .quemsomos-social, .contato, .contato-sacola, .contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-sacola, .home-meio, .quemsomos, .quemsomos-sacola, .quemsomos-container, .contato-formulario-container, .trabalheconosco-sacola, .trabalheconosco-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.contato {
  background-color: rgba(0, 175, 255, 0.6);
  position: absolute;
  top: 400%;
  height: 100%;
  padding: 80px 20px;
  width: 100%;
}

.contato-informacoes {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 20px;
  width: 50%;
}

.contato-infos {
  height: 40%;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
}

.contato-infos-tt {
  font-size: 24px;
  font-weight: bold;
}

.contato-infos-subtt {
  font-size: 18px;
  font-weight: bold;
}

.contato-infos-linha {
  margin-top: 20px;
}

.contato-social {
  height: 40%;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
}

.contato-social-tt {
  font-size: 24px;
  font-weight: bold;
}

.contato-social-lista {
  margin-top: 20px;
}

.contato-social-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.contato-social-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.contato-social-link:hover {
  background: none;
}

.contato-social-facebook {
  background-image: url(../img/contato-facebook.png);
}

.contato-social-instagram {
  background-image: url(../img/contato-insta.png);
}

.contato-social-linkedin {
  background-image: url(../img/contato-linkedin.png);
}

.contato-social-twitter {
  background-image: url(../img/contato-twitter.png);
}

.contato-localizacao {
  height: 60%;
  margin-top: 25px;
  width: 100%;
}

.contato-localizacao-tt {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.contato-localizacao-mapa {
  background: url(../img/localidade.jpg) no-repeat center/cover;
  height: 90%;
  margin-top: 20px;
  width: 100%;
}

.contato-formulario {
  height: 100%;
  padding: 20px;
  width: 50%;
}

.contato-formulario-container {
  height: 100%;
  padding: 10px;
  width: 100%;
}

.contato-formulario-campo {
  font-family: "Lato", sans-serif;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

.contato-formulario-campo:not(:first-of-type) {
  margin-top: 10px;
}

.contato-formulario-nome, .contato-formulario-email, .contato-formulario-assunto {
  height: 3%;
}

.contato-formulario-texto {
  height: 30%;
  max-height: 100%;
  margin-top: 10px;
}

.contato-formulario-btn {
  background-color: #00C851;
  border: 1px solid #007E33;
  color: white;
  margin-top: 7px;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}

.contato-formulario-btn:hover {
  background-color: #007E33;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.home-menu, .servicos-container-plano, .quemsomos-social, .contato, .contato-sacola, .contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-sacola, .home-meio, .quemsomos, .quemsomos-sacola, .quemsomos-container, .contato-formulario-container, .trabalheconosco-sacola, .trabalheconosco-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.trabalheconosco {
  position: absolute;
  top: 300%;
  background-color: rgba(0, 159, 255, 0.6);
  height: 100%;
  width: 100%;
  padding: 80px 20px;
  overflow: hidden;
}

.trabalheconosco-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.trabalheconosco-informacoes {
  width: 100%;
  height: 200px;
  margin-top: 27px;
}

.trabalheconosco-informacoes-lampada {
  background: url(../img/lampada.png) no-repeat right center/130px 130px;
  padding-right: 130px;
}

.trabalheconosco-informacoes-logo1 {
  background: url(../img/logo1.png) no-repeat left center/130px 130px;
  padding-left: 150px;
}

.trabalheconosco-informacoes-clima {
  background: url(../img/clima.png) no-repeat left center/130px 130px;
  padding-left: 130px;
}

.trabalheconosco-informacoes-engrenagem {
  background: url(../img/engrenagem.png) no-repeat right center/130px 130px;
  padding-right: 130px;
}

.trabalheconosco-informacoes-titulo {
  font-size: 29px;
  margin-bottom: 25px;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.home-menu, .servicos-container-plano, .quemsomos-social, .contato, .contato-sacola, .contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-sacola, .home-meio, .quemsomos, .quemsomos-sacola, .quemsomos-container, .contato-formulario-container, .trabalheconosco-sacola, .trabalheconosco-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: url(../img/pattern.png) repeat center;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  position: relative;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes pulsar {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

@keyframes pulsar {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

/*----- Efeito Scroll -----*/
.btn-efeito {
  background: url(../img/setinha.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  height: 70px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  -webkit-animation: pulsar 4s infinite;
          animation: pulsar 4s infinite;
  opacity: 0.3;
}

.btn-servicos-ir {
  bottom: 10px;
}

.btn-home-voltar {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
}

.btn-quemsomos-ir {
  bottom: 10px;
}

.btn-servicos-voltar {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
}

.btn-trabalheconosco-ir {
  bottom: 10px;
}

.btn-quemsomos-voltar {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
}

.btn-contato-ir {
  bottom: 10px;
}

.btn-trabalheconosco-voltar {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
}

/*----- Efeito Transição -----*/
.sacola {
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
  width: 100%;
}

.efeito-direita {
  opacity: 0;
  left: 100%;
}

.efeito-esquerda {
  opacity: 0;
  left: -100%;
}

.efeito-cima {
  opacity: 0;
  top: -100%;
}

.efeito-baixo {
  opacity: 0;
  top: 100%;
}
