/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.home {
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 980px;
  width: 100%;
}

.home-menu {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-align: center;
}

.home-menu-item {
  display: inline-block;
  list-style: none;
}

.home-menu-link {
  text-decoration: none;
  padding: 10px 20px;
}

.home-meio {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes pulsar {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

@keyframes pulsar {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.btn-servicos {
  background: url(../img/setinha.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: pulsar 5s infinite;
          animation: pulsar 5s infinite;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.servicos {
  background-color: red;
  height: 980px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.servicos-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
}

.servicos-titulo {
  font-size: 30px;
}

.servicos-container-plano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.servicos-plano {
  width: 300px;
  height: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, transform 1s;
  transition: background-color 1s, transform 1s, -webkit-transform 1s;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.servicos-plano:not(:last-of-type) {
  margin-right: 40px;
}

.servicos-plano:hover {
  background-color: darkorange;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.servicos-listas {
  margin-top: 30px;
}

.servicos-item {
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 18px;
}

.servicos-basico-item:nth-of-type(1n+4) {
  background-image: url("../img/uncheck.png");
  color: #dedede;
}

.servicos-premium-item:nth-of-type(1n+6) {
  background-image: url("../img/uncheck.png");
  color: #dedede;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.quemsomos {
  background-color: purple;
  color: white;
  height: 980px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.quemsomos-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
}

.quemsomos-container {
  width: 1000px;
  height: 500px;
}

.quemsomos-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
  padding: 20px;
  width: 1000px;
}

.quemsomos-item {
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
}

.quemsomos-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quemsomos-alexis {
  background-image: url("../img/alexis.jpg");
}

.quemsomos-lucas {
  background-image: url("../img/lucas.jpg");
}

.quemsomos-vinicius {
  background-image: url("../img/vinicius.jpg");
}

.quemsomos-igor {
  background-image: url("../img/igor.jpg");
}

.quemsomos-caciano {
  background-image: url("../img/caciano.jpg");
}

.quemsomos-informacoes {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 20px;
}

.quemsomos-informacoes-titulo {
  color: white;
  text-align: center;
  font-size: 30px;
}

.quemsomos-informacoes-texto {
  padding: 20px;
  text-align: center;
}

.quemsomos-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.quemsomos-social-item {
  background: no-repeat;
  display: inline-block;
  height: 50px;
  list-style: none;
  width: 50px;
}

.quemsomos-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.quemsomos-facebook {
  background-image: url(../img/facebook.png);
  margin-right: 20px;
}

.quemsomos-github {
  background-image: url(../img/github.png);
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 980px;
  padding: 20px 80px;
  width: 100%;
}

.contato-informacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px;
  width: 50%;
}

.contato-infos {
  height: 40%;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
}

.contato-infos-tt {
  font-size: 24px;
  font-weight: bold;
}

.contato-infos-subtt {
  font-size: 18px;
  font-weight: bold;
}

.contato-infos-linha {
  margin-top: 20px;
}

.contato-social {
  height: 40%;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
}

.contato-social-tt {
  font-size: 24px;
  font-weight: bold;
}

.contato-social-lista {
  margin-top: 20px;
}

.contato-social-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.contato-social-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.contato-social-link:hover {
  background: none;
}

.contato-social-facebook {
  background-image: url(../img/contato-facebook.png);
}

.contato-social-instagram {
  background-image: url(../img/contato-insta.png);
}

.contato-social-linkedin {
  background-image: url(../img/contato-linkedin.png);
}

.contato-social-twitter {
  background-image: url(../img/contato-twitter.png);
}

.contato-localizacao {
  height: 60%;
  margin-top: 25px;
  width: 100%;
}

.contato-localizacao-tt {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.contato-localizacao-mapa {
  background: url(../img/localidade.jpg) no-repeat center/cover;
  height: 90%;
  margin-top: 20px;
  width: 100%;
}

.contato-formulario {
  height: 100%;
  padding: 20px;
  width: 50%;
}

.contato-formulario-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.contato-formulario-campo {
  font-family: "Lato", sans-serif;
  text-align: center;
  max-width: 99.5%;
  width: 99.3%;
}

.contato-formulario-campo:not(:first-of-type) {
  margin-top: 10px;
}

.contato-formulario-nome, .contato-formulario-email, .contato-formulario-assunto {
  height: 3%;
}

.contato-formulario-texto {
  height: 30%;
  max-height: 80%;
  margin-top: 10px;
}

.contato-formulario-btn {
  background-color: #00C851;
  border: 1px solid #007E33;
  color: white;
  margin-top: 7px;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}

.contato-formulario-btn:hover {
  background-color: #007E33;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.trabalheconosco {
  background-color: yellow;
  height: 980px;
  width: 100%;
}

/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

body {
  background-color: red;
  height: 3000px;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
}
