/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.quemsomos {
  background-color: purple;
  height: 980px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quemsomos-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
}

.quemsomos-imagens {
  background-color: aqua;
  width: 1000px;
  height: 500px;
  margin-bottom: 100px;
}

.quemsomos-imagens-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1000px;
  height: 200px;
  background-color: brown;
}

.quemsomos-item:nth-of-type(1) {
  background-image: url("../img/alexis.jpg");
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
}

.quemsomos-item:nth-of-type(2) {
  background-image: url("../img/lucas.jpg");
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
}

.quemsomos-item:nth-of-type(3) {
  background-image: url("../img/vinicius.jpg");
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
}

.quemsomos-item:nth-of-type(4) {
  background-image: url("../img/igor.jpg");
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
}

.quemsomos-item-todos {
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.quemsomos-item-todos:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.quemsomos-textos-titulo1 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.quemsomos-textos-p1 {
  text-align: center;
}
