/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
.servicos-container-plano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos, .servicos-sacola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.servicos {
  position: absolute;
  top: 100%;
  background-color: rgba(0, 94, 255, 0.6);
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.servicos-sacola {
  padding: 80px 20px;
}

.servicos-titulo-principal {
  font-size: 40px;
  text-transform: uppercase;
}

.servicos-titulo {
  font-size: 30px;
}

.servicos-container-plano {
  width: 100%;
}

.servicos-plano {
  width: 300px;
  height: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, -webkit-transform 1s;
  transition: background-color 1s, transform 1s;
  transition: background-color 1s, transform 1s, -webkit-transform 1s;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.servicos-plano:not(:last-of-type) {
  margin-right: 40px;
}

.servicos-plano:hover {
  background-color: rgba(0, 94, 255, 0.7);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.servicos-listas {
  margin-top: 30px;
}

.servicos-item {
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 18px;
}

.servicos-basico-item:nth-of-type(1n+4) {
  background-image: url("../img/uncheck.png");
  color: rgba(238, 238, 238, 0.5);
  text-decoration: line-through;
}

.servicos-premium-item:nth-of-type(1n+6) {
  background-image: url("../img/uncheck.png");
  color: rgba(238, 238, 238, 0.5);
  text-decoration: line-through;
}
