/* Variaveis */
/* Mixins */
/* Media Querys */
/* Placeholder */
/* Configs fixas */
img {
  height: auto !important;
  max-width: 100%;
  width: auto;
}

.servicos {
  background-color: red;
  height: 980px;
  width: 100%;
  /* Mixins */
}
