@import 'utilitarios';
html{height:100%; width:100%;}
body{background:url(../img/pattern.png) repeat center; height:100%; width:100%; font-family: $fontePadrao; position:relative;}

.link{@include mascara;}

@keyframes pulsar {
    0% {background-position:center bottom;}
    50% {background-position:center top;}
    100% {background-position:center bottom;}
}

/*----- Efeito Scroll -----*/
.btn-efeito{background:url(../img/setinha.png); background-repeat:no-repeat; background-size:50% auto; height:70px; width:100px; position:absolute; left:50%; margin-left:-50px; animation:pulsar 4s infinite; opacity:0.3;}
.btn-servicos-ir{bottom:10px;}
.btn-home-voltar{transform:rotate(180deg); top:10px;}
.btn-quemsomos-ir{bottom:10px;}
.btn-servicos-voltar{transform:rotate(180deg); top:10px;}
.btn-trabalheconosco-ir{bottom:10px;}
.btn-quemsomos-voltar{transform:rotate(180deg); top:10px;}
.btn-contato-ir{bottom:10px;}
.btn-trabalheconosco-voltar{transform:rotate(180deg); top:10px;}

/*----- Efeito Transição -----*/

.sacola{height:100%; left:0; opacity:1; overflow:hidden; position:absolute; top:0; transition:all 2s;width:100%;}

.efeito-direita  {opacity:0; left:100%;}
.efeito-esquerda {opacity:0; left:-100%;}
.efeito-cima     {opacity:0; top:-100%;}
.efeito-baixo    {opacity:0; top:100%;}
