@import 'utilitarios';

.home{
  background-color:green; display:flex; flex-direction:column; justify-content:center; align-items:center; padding:20px; height:100%; width:100%; position:absolute;

  &-menu{
    background-color:red; display:flex; justify-content:center; align-items:center; flex-grow:1; width:100%; text-align:center;

    &-lista{}
    &-item{display:inline-block; list-style:none;}
    &-link{text-decoration:none; padding:10px 20px;}
  }

  &-meio{
    background-color:blue; display:flex; flex-direction:column; justify-content:center; align-items:center; flex-grow:12; width:100%; text-align:center;


  }

  @include smartphone-tablet {

  }

  @include smartphone {

  }

  @include tablet {

  }

  @include monitor-ultrawide {

  }

  @include monitor {

  }
}
@keyframes pulsar {
    0% {background-position:center bottom;}
    50% {background-position:center top;}
    100% {background-position:center bottom;}
}
.btn-servicos{background:url(../img/setinha.png); background-repeat:no-repeat; background-size:50% auto; height:100px; width:200px; position:absolute; left:50%; margin-left:-100px; bottom:0; transition:all 500ms; animation:pulsar 5s infinite;}
