@import 'utilitarios';

.quemsomos{
    background-color:purple; color:white; height:980px; width:100%; display:flex; align-items:center; justify-content:center; flex-direction:column; text-align:center;

    &-titulo-principal{font-size:40px; text-transform:uppercase;}

    &-container{width:1000px; height:500px; }
    &-lista{display:flex; justify-content:space-around; margin-top:40px; padding:20px; width:1000px;}

    &-item      {border-radius:50%; transition:all 1s; background-size:auto 100%; background-repeat:no-repeat; width:130px; height:130px;}
    &-item:hover{transform:scale(1.2)}

    &-alexis  {background-image:url("../img/alexis.jpg");}
    &-lucas   {background-image:url("../img/lucas.jpg");}
    &-vinicius{background-image:url("../img/vinicius.jpg");}
    &-igor    {background-image:url("../img/igor.jpg");}
    &-caciano {background-image:url("../img/caciano.jpg");}

    &-informacoes{border:1px solid black; border-radius:10px; padding:40px 20px;}
    &-informacoes-titulo{color:white; text-align:center; font-size:30px;}
    &-informacoes-texto {padding:20px; text-align:center;}

    &-social{display:flex; justify-content:center; width:100%;}
    &-social-item{background:no-repeat; display:inline-block; height:50px; list-style:none; width:50px;}
    &-link{@include mascara;}
    &-facebook{background-image:url(../img/facebook.png); margin-right:20px;}
    &-github{background-image:url(../img/github.png);}



  @include smartphone-tablet {
  }

  @include smartphone {
  }

  @include tablet {
  }

  @include monitor-ultrawide {
  }

  @include monitor {
  }
}
