@import 'utilitarios';


.servicos{
    position:absolute; top:100%; background-color:rgba($cor2,.6); height:100%; width:100%; padding:80px 20px; @extend %flexcoluna2; transition:all 500ms;

    &-sacola{@extend %flexcoluna2; position:absolute; left:0; transition:all 2s;}

    &-titulo-principal{font-size:40px; text-transform:uppercase;}
    &-titulo{font-size:30px;}

    &-container-plano{@extend %flexlinha; width:100%;}

    &-plano          {width:300px; height:500px; background-color:white; text-align:center; padding:20px; border-radius:10px; transition: background-color 1s, transform 1s; border:1px solid rgba(black,0.5); }
    &-plano:not(:last-of-type){margin-right:40px;}
    &-plano:hover    {background-color:rgba($cor2,.7); transform: scale(1.1); color:white;}

    &-listas{margin-top:30px;}

    &-item{margin-top:30px; border-bottom:1px solid rgba(black,0.1); padding-bottom:10px;  background-image:url("../img/check.png"); background-repeat: no-repeat; background-position: left center; background-size:18px 18px;}

    &-basico                       {}
    &-basico-item                  {}
    &-basico-item:nth-of-type(1n+4){background-image: url("../img/uncheck.png"); color: #dedede;}

    &-premium                       {}
    &-basico-item                   {}
    &-premium-item:nth-of-type(1n+6){background-image: url("../img/uncheck.png"); color: #dedede;}

    &-vip{ }



  @include smartphone-tablet {
  }

  @include smartphone {
  }

  @include tablet {
  }

  @include monitor-ultrawide {
  }

  @include monitor {
  }
}
