@import 'utilitarios';


.servicos{
    background-color: red;
    height:  980px;
    width: 100%;
    
    
    
    &-basico{
        width: 100px;
        height: 100px;
        background-color:aqua;
    }
    
    
    

   @include smartphone-tablet {
  
  }

  @include smartphone {
   
  }

  @include tablet {
  
  }

  @include monitor-ultrawide {
 

    }
  @include monitor {
  
  }
}
