
/* Variaveis */
$fontePadrao:'Lato', sans-serif;
$corA: #02111b;
$corB: #fff;
$corC: #082f4d;
$smartphone-width:480px;
$tablet-width:768px;
$monitor-width:1280px;
$ultrawide-width:1920px;
$cor1:#0900ff;
$cor2:#005eff;
$cor3:#0078ff;
$cor4:#009fff;
$cor5:#00afff;



/* Mixins */

@mixin mascara {
  display:inline-block; height:100%; width:100%;
}

@mixin efeitoCrescer {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 1); transform: scale(1.2);
}



/* Media Querys */

@mixin smartphone-tablet {
  @media (max-width: #{$monitor-width - 1px}) {
    @content;
  }
}

@mixin monitor-ultrawide {
  @media (min-width: #{$monitor-width}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$monitor-width - 1px}) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: #{$monitor-width}) and (max-width: #{$ultrawide-width - 1px}) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: #{$ultrawide-width}) {
    @content;
  }
}



/* Placeholder */
%flexlinha {display:flex; flex-direction:row; justify-content:center; align-items:center;}
%flexcoluna {display:flex; flex-direction:column; justify-content:center; align-items:center;}
%flexlinha2 {display:flex; flex-direction:row; justify-content:space-around; align-items:center;}
%flexcoluna2 {display:flex; flex-direction:column; justify-content:space-around; align-items:center;}


/* Configs fixas */

img {height:auto !important; max-width:100%; width:auto;}
